body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;
    color: black;
    display: flexbox;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

h1{
    color: #fff;
}

p {
    line-height: 1.5;
}

nav {
    background-color: black;
    padding: 15px;
    text-align: left;
    position: relative;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav > ul > li:nth-child(1) > a > svg {
    top: 3px;
    left: 3px;
    position: absolute;
}

nav ul li a {
    color: white;
    
    text-decoration: none;
    padding: 8px 16px;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

nav ul li button {
    background-color: black;
    box-shadow: none;
    border: none; 
    color: white;
    text-decoration: none;
    padding: 8px 16px;
}

nav ul li button:hover {
    background-color: #575757;
    border-radius: 4px;
}

.hero-section {
    background-image: url('/assets/images/background.jpg');
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 20px;
    text-align: center;
}

.hero-section h1 {
    margin: 0 0 20px;
}

.cta-button-rg {
    background-color: #5082ff69;
    color: white;
    margin: 20px;
    padding: 12px 24px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.cta-button-rg:hover {
    background-color: rgb(130, 126, 235);
}

.cta-button-signin {
    text-decoration: none;
    color: white;
}

.cta-button-signin:hover {
    text-decoration: underline;
}

.about-section {
    padding: 50px 20px;
    text-align: center;
    height: 300px;
}

.lobby-section {
    padding: 50px 20px;
    height: auto;
}




footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* 
.chat-area {
    background: linear-gradient(to top,rgba(10, 101, 181, 0.5), rgb(5, 0, 138));
    color: rgb(255, 255, 255);
    border-radius: 10px;
    max-height: 300px;
    height: 300px;
    padding: 0 20px;
    overflow-y: scroll;
}

.chat-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.chat-form > input {
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    border-color: aqua;
    border-width: 1px;
}
 */





#roomsTable {
    width: 100%;
    border-collapse: collapse;
}

#roomsTable th, #roomsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#roomsTable th {
    background-color: #f4f4f4;
}

.join-btn {
    display: inline-block;
    padding: 5px 10px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.join-btn:hover {
    background-color: #0056b3;
}

/* New CSS for centering the button in the cell */
#roomsList tr td a {
    display: flex;
    justify-content: center; /* Aligns horizontally at the center */
    align-items: center; /* Aligns vertically at the center, not necessary if row height is not defined or is auto */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}