
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/wait.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Wait Room</title>
</head>
<body>
    <%- include('partials/menu') %> 
   
    <h1>Bingo Game</h1>
    <div id="boss"></div>
    <div id="timer"></div>
    <div id="called-numbers"></div>
    <div id="players">
        <section>
            <div class="bingo-card" id="player1">
                <h2>Player 1</h2>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell1"></div>
                  <div class="bingo-cell" id="player1-cell2"></div>
                  <div class="bingo-cell" id="player1-cell3"></div>
                  <div class="bingo-cell" id="player1-cell4"></div>
                  <div class="bingo-cell" id="player1-cell5"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell6"></div>
                  <div class="bingo-cell" id="player1-cell7"></div>
                  <div class="bingo-cell" id="player1-cell8"></div>
                  <div class="bingo-cell" id="player1-cell9"></div>
                  <div class="bingo-cell" id="player1-cell10"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell11"></div>
                  <div class="bingo-cell" id="player1-cell12"></div>
                  <div class="bingo-cell" id="player1-cell13"></div>
                  <div class="bingo-cell" id="player1-cell14"></div>
                  <div class="bingo-cell" id="player1-cell15"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell16"></div>
                  <div class="bingo-cell" id="player1-cell17"></div>
                  <div class="bingo-cell" id="player1-cell18"></div>
                  <div class="bingo-cell" id="player1-cell19"></div>
                  <div class="bingo-cell" id="player1-cell20"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell21"></div>
                  <div class="bingo-cell" id="player1-cell22"></div>
                  <div class="bingo-cell" id="player1-cell23"></div>
                  <div class="bingo-cell" id="player1-cell24"></div>
                  <div class="bingo-cell" id="player1-cell25"></div>
                </div>
            </div>
            <div class="bingo-card" id="player2">
                <h2>Player 2</h2>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell1"></div>
                  <div class="bingo-cell" id="player1-cell2"></div>
                  <div class="bingo-cell" id="player1-cell3"></div>
                  <div class="bingo-cell" id="player1-cell4"></div>
                  <div class="bingo-cell" id="player1-cell5"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell6"></div>
                  <div class="bingo-cell" id="player1-cell7"></div>
                  <div class="bingo-cell" id="player1-cell8"></div>
                  <div class="bingo-cell" id="player1-cell9"></div>
                  <div class="bingo-cell" id="player1-cell10"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell11"></div>
                  <div class="bingo-cell" id="player1-cell12"></div>
                  <div class="bingo-cell" id="player1-cell13"></div>
                  <div class="bingo-cell" id="player1-cell14"></div>
                  <div class="bingo-cell" id="player1-cell15"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell16"></div>
                  <div class="bingo-cell" id="player1-cell17"></div>
                  <div class="bingo-cell" id="player1-cell18"></div>
                  <div class="bingo-cell" id="player1-cell19"></div>
                  <div class="bingo-cell" id="player1-cell20"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell21"></div>
                  <div class="bingo-cell" id="player1-cell22"></div>
                  <div class="bingo-cell" id="player1-cell23"></div>
                  <div class="bingo-cell" id="player1-cell24"></div>
                  <div class="bingo-cell" id="player1-cell25"></div>
                </div>
            </div>
            <div class="bingo-card" id="player3">
                <h2>Player 3</h2>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell1"></div>
                  <div class="bingo-cell" id="player1-cell2"></div>
                  <div class="bingo-cell" id="player1-cell3"></div>
                  <div class="bingo-cell" id="player1-cell4"></div>
                  <div class="bingo-cell" id="player1-cell5"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell6"></div>
                  <div class="bingo-cell" id="player1-cell7"></div>
                  <div class="bingo-cell" id="player1-cell8"></div>
                  <div class="bingo-cell" id="player1-cell9"></div>
                  <div class="bingo-cell" id="player1-cell10"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell11"></div>
                  <div class="bingo-cell" id="player1-cell12"></div>
                  <div class="bingo-cell" id="player1-cell13"></div>
                  <div class="bingo-cell" id="player1-cell14"></div>
                  <div class="bingo-cell" id="player1-cell15"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell16"></div>
                  <div class="bingo-cell" id="player1-cell17"></div>
                  <div class="bingo-cell" id="player1-cell18"></div>
                  <div class="bingo-cell" id="player1-cell19"></div>
                  <div class="bingo-cell" id="player1-cell20"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell21"></div>
                  <div class="bingo-cell" id="player1-cell22"></div>
                  <div class="bingo-cell" id="player1-cell23"></div>
                  <div class="bingo-cell" id="player1-cell24"></div>
                  <div class="bingo-cell" id="player1-cell25"></div>
                </div>
            </div>
            <div class="bingo-card" id="player4">
                <h2>Player 4</h2>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell1"></div>
                  <div class="bingo-cell" id="player1-cell2"></div>
                  <div class="bingo-cell" id="player1-cell3"></div>
                  <div class="bingo-cell" id="player1-cell4"></div>
                  <div class="bingo-cell" id="player1-cell5"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell6"></div>
                  <div class="bingo-cell" id="player1-cell7"></div>
                  <div class="bingo-cell" id="player1-cell8"></div>
                  <div class="bingo-cell" id="player1-cell9"></div>
                  <div class="bingo-cell" id="player1-cell10"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell11"></div>
                  <div class="bingo-cell" id="player1-cell12"></div>
                  <div class="bingo-cell" id="player1-cell13"></div>
                  <div class="bingo-cell" id="player1-cell14"></div>
                  <div class="bingo-cell" id="player1-cell15"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell16"></div>
                  <div class="bingo-cell" id="player1-cell17"></div>
                  <div class="bingo-cell" id="player1-cell18"></div>
                  <div class="bingo-cell" id="player1-cell19"></div>
                  <div class="bingo-cell" id="player1-cell20"></div>
                </div>
                <div class="bingo-row">
                  <div class="bingo-cell" id="player1-cell21"></div>
                  <div class="bingo-cell" id="player1-cell22"></div>
                  <div class="bingo-cell" id="player1-cell23"></div>
                  <div class="bingo-cell" id="player1-cell24"></div>
                  <div class="bingo-cell" id="player1-cell25"></div>
                </div>
            </div>
        </section>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script/game.js"></script>

    <%- include('partials/chat') %>
</body>
</html>


<!-- <div class="bingo-card" id="player1">
    <h2>Player 1</h2>
    <div class="bingo-row">
      <div class="bingo-cell" id="player1-cell1"></div>
      <div class="bingo-cell" id="player1-cell6"></div>
      <div class="bingo-cell" id="player1-cell11"></div>
      <div class="bingo-cell" id="player1-cell16"></div>
      <div class="bingo-cell" id="player1-cell21"></div>
    </div>
    <div class="bingo-row">
      <div class="bingo-cell" id="player1-cell2"></div>
      <div class="bingo-cell" id="player1-cell7"></div>
      <div class="bingo-cell" id="player1-cell12"></div>
      <div class="bingo-cell" id="player1-cell17"></div>
      <div class="bingo-cell" id="player1-cell22"></div>
    </div>
    <div class="bingo-row">
      <div class="bingo-cell" id="player1-cell3"></div>
      <div class="bingo-cell" id="player1-cell8"></div>
      <div class="bingo-cell" id="player1-cell13"></div>
      <div class="bingo-cell" id="player1-cell18"></div>
      <div class="bingo-cell" id="player1-cell23"></div>
    </div>
    <div class="bingo-row">
      <div class="bingo-cell" id="player1-cell4"></div>
      <div class="bingo-cell" id="player1-cell9"></div>
      <div class="bingo-cell" id="player1-cell14"></div>
      <div class="bingo-cell" id="player1-cell19"></div>
      <div class="bingo-cell" id="player1-cell24"></div>
    </div>
    <div class="bingo-row">
      <div class="bingo-cell" id="player1-cell5"></div>
      <div class="bingo-cell" id="player1-cell10"></div>
      <div class="bingo-cell" id="player1-cell15"></div>
      <div class="bingo-cell" id="player1-cell20"></div>
      <div class="bingo-cell" id="player1-cell25"></div>
    </div>
  </div> -->