<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
			integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"/>
		<link rel="stylesheet" href="/css/menu.css" />
		<link rel="stylesheet" href="/css/index.css" />
		<title>Login</title>
	</head>
	<body>
		<%- include('partials/menu') %>

		<section id="home" class="hero-section">
			<h1>Welcome to Bingo!!!</h1>
			<p>We're excited to have you play with us. Let's see if today is your lucky day. Good luck and have fun!</p>
			<% if (!locals.session.user) { %>
				<a href="/register" class="cta-button-rg">Register</a>
				<a href="/login" class="cta-button-signin">Sign In</a>	
			<% } %>
		</section>

		<section id="lobby" class="lobby-section">
			<h2>Your Recent Activities</h2>
			<% if (locals.session.user) { %>
				<p>Welcome back, <%= locals.session.user.username %></p>	
			<% } %>
			
		</section>

		<section id="about" class="about-section">
			<h2>About Us</h2>
			<p>
				Here, you can enjoy the classic game of Bingo from the comfort of your own home. Play with friends or join a public game to meet new players from around the world. Whether you're a
				seasoned Bingo enthusiast or new to the game, our user-friendly interface and exciting gameplay will keep you entertained. Take part in thrilling rounds, win amazing prizes, and
				experience the joy of calling out "Bingo!" Join us today for hours of fun and engaging entertainment!
			</p>
		</section>
		<%- include('partials/chat', { session: session }) %>
		<%- include('partials/footer') %>
	</body>
</html>