<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/forms.css"/>
</head>
<body>
    <%- include('partials/navigation') %>

    <section>
        <main class="container">

            <div class="form-container">
                <h2> Login to Your Account </h2>
                <div style="color: red;"><%= locals.errorMessage %></div>
                <form class="input-form" action="/login" method="POST">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                    <a class="atag" href="/register"> 
                        Don't have an account? Register Here!
                    </a>
                </form>
            </div>
            
        </main>
        
    </section>
    <%- include('partials/footer') %>    
</body>
</html>
